section{

    background-image: url("https://static.vecteezy.com/system/resources/previews/000/144/603/original/vector-moai-statue-landmark.jpg");

}

.title{

    font-size: 1rem;
    font-family: 'Press Start 2P', cursive;
}


.button1{
    
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 2%;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    

  }
  
  .button1 span {
    cursor: pointer;
   
    transition: 0.5s;
  }
  
  .button1 span:after {
    content: '\00bb';
   
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button1:hover span {
    padding-right: 25px;
  }
  
  .button1:hover span:after {
    opacity: 1;
    right: 0;
  }



.button2{
    
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 2%;
    width: 20%;
    transition: all 0.5s;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    

  }
  
  .button2 span {
    cursor: pointer;
   
    transition: 0.5s;
  }
  
  .button2 span:after {
    content: '\00bb';
   
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button2:hover span {
    padding-right: 25px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }
