.allbutton{
    
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 2%;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        font-family: 'Press Start 2P', cursive;
        
    
      }
      
      .allbutton span {
        cursor: pointer;
       
        transition: 0.5s;
      }
      
      .allbutton span:after {
        content: '\00bb';
       
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .allbutton:hover span {
        padding-right: 25px;
      }
      
      .allbutton:hover span:after {
        opacity: 1;
        right: 0;
      }

.blanc{
    height:25vh ;
}
.titre{

    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

